﻿@charset "utf-8";

/* #region Common */
.auth {
    /*padding-top: 80px;*/
    background-color: #f2f2f2;
    color: #fff;
    overflow-x: hidden;
}

.auth .heading {
    background-color: #f2f2f2;
    margin: 20px auto;
    height: 90px;
    color: #7b7b7b
}
.auth .heading h2 {
    font-size: 28px;
}

.auth .content .logo-icon {
    background: #ffffff none repeat scroll 0 0;
    height: 70px;
    line-height: 68px;
    margin: -20px auto 10px;
    position: relative;
    text-align: center;
    width: 70px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 2px 1px 2px #707070;
    -ms-box-shadow: 2px 1px 2px #707070;
    box-shadow: 2px 1px 2px #707070;
}

.auth .content a {
    color: #fff;
    text-decoration: underline;
}

.auth .form-group {
    margin-bottom: 10px;
}


.auth .confirm-password-wrap {
    overflow: auto;
    height: 0;
    -ms-opacity: 0;
    opacity: 0;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.auth .confirm-password-wrap.show {
    overflow: inherit;
    height: 48px;
    -ms-opacity: 1;
    opacity: 1;
}


/*.auth .form-control {
    height: 48px;
    -ms-border-radius: 0;
    border-radius: 0;
}
.auth .form-control.empty {
    background-color: #eaf6ef;
}
.auth .form-control.danger {
    border-color: #dc272d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
}


.auth .form-control-feedback {
    color: #c2ccc6;
    font-size: 18px;
    line-height: 48px;
    margin-right: 10px;
    
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.auth .form-control-feedback.focused {
    color: #27A95C;
}

.auth .help-block {
    color: #232323;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    -ms-opacity: 0;
    opacity: 0;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.auth .help-block.show {
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    -ms-opacity: 1;
    opacity: 1;
}
.auth .help-block.help-block-2x.show {
    height: 36px;
}
.auth .help-block.help-block-3x.show {
    height: 54px;
}*/

.auth .btns {
    /*margin: 30px auto;*/
    margin: 0 auto;
}

.auth .btns a {
    line-height: 50px;
}

.auth .btn-gz {
    padding: 0 45px;
    text-transform: uppercase;
}
.auth .field-ok {
    position: absolute;
    right: -50px;
    top: 0;
    margin-top: 12px;
    width: 24px;
    height: 24px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-opacity: 0;
    opacity: 0;
}
.auth .field-ok.show {
    -ms-opacity: 1;
    opacity: 1;
}
.auth .field-ok img{
    width: 24px;
    height: 24px;
}
@media (max-width: 767px) {
    .auth .form-group {
        margin-right: 0;
    }
    .auth .field-ok {
        right: -20px;
    }
}


/*.auth .gz-select select option { color: #7b7b7b; }
.auth .gz-select select option.prompt { color: #ddd; }
.auth .gz-select select { background-color: #eaf6ef; }
.auth .gz-select select.selected { color: #7b7b7b; background-color: #fff; }*/
.auth .gz-select select { background-color: #eaf6ef; }
.auth .gz-select select.selected { background-color: #fff; }
.auth .gz-select select.form-control[disabled] { background-color: #ccc; }

@media (max-width: 767px) {
    .auth .form-control { margin-bottom: 5px; }
}

.auth .row {
    margin-left: -5px;
    margin-right: -5px;
}
.auth .col-xs-1, .auth .col-sm-1, .auth .col-md-1, .auth .col-lg-1,
.auth .col-xs-2, .auth .col-sm-2, .auth .col-md-2, .auth .col-lg-2,
.auth .col-xs-3, .auth .col-sm-3, .auth .col-md-3, .auth .col-lg-3,
.auth .col-xs-4, .auth .col-sm-4, .auth .col-md-4, .auth .col-lg-4,
.auth .col-xs-5, .auth .col-sm-5, .auth .col-md-5, .auth .col-lg-5,
.auth .col-xs-6, .auth .col-sm-6, .auth .col-md-6, .auth .col-lg-6,
.auth .col-xs-7, .auth .col-sm-7, .auth .col-md-7, .auth .col-lg-7,
.auth .col-xs-8, .auth .col-sm-8, .auth .col-md-8, .auth .col-lg-8,
.auth .col-xs-9, .auth .col-sm-9, .auth .col-md-9, .auth .col-lg-9,
.auth .col-xs-10, .auth .col-sm-10, .auth .col-md-10, .auth .col-lg-10,
.auth .col-xs-11, .auth .col-sm-11, .auth .col-md-11, .auth .col-lg-11,
.auth .col-xs-12, .auth .col-sm-12, .auth .col-md-12, .auth .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.auth .splitter {
    border-bottom: 1px dashed #fff;
    margin-bottom: 15px;
}

.auth .recaptcha-wrap > div > div { margin: 0 auto; }
.auth .recaptcha-wrap.text-center > div {
    width: 100% !important;
    text-align: center;
}
.auth .recaptcha-wrap {
    padding: 0;
    border: none;
    display: inline;
}
/* #endregion */


/* #region Register */
.auth.register { }
.auth.register .steps {
    margin-top: 5px;
    position: relative;
}

.auth.register .steps .progress-wrap {
    position: absolute;    
    width: 100%;
    height: 22px;
}
.auth.register .steps .progress-wrap .progress {
    width: 66.7%;
    height: 2px;
    margin: 0 auto 20px;
    background-color: #BEE6CE;
    -ms-border-radius: 0;
    border-radius: 0;
    background-image: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.auth.register .steps .progress-wrap .progress .progress-bar {
    background-color: #27A95C;
    background-image: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

/*
.auth.register .steps .step {
    position: relative;
    height: 22px;
    margin-bottom: 10px;
}

.auth.register .steps .step .line {
    position: absolute;
    width: 50%;
    top: 50%;
    height: 2px;
    background-color: #ccc;
    content: '';
    z-index: 1;

    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -ms-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
    transition:all 0.6s ease 0s;
}
.auth.register .steps .step .line.line-left {
    left: 0;
}
.auth.register .steps .step .line.line-right {
    right: 0;
}
.auth.register .steps .step .line.before {
    background-color: #27A95C;
}
.auth.register .steps .step .line.after {
    background-color: #BEE6CE;
}
*/

.auth.register .steps .step {
    position: absolute;    
    width: 100%;
    top: 0;
}
.auth.register .steps .step .step-icon {
    position: absolute;
    font-size: 1.5em;
    top: -6px;
    left: calc(50% - 9px);

    line-height: 14px;
    color: #BEE6CE;
    z-index: 3;

    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -ms-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
    transition:all 0.6s ease 0s;
    top: -6px;
    transition: all 0.6s ease 0s;
}
.auth.register .steps .step.visited .step-icon {
    color: #27A95C;
}
.auth.register .steps .step.current .step-icon {
    font-size: 2em;
    left: calc(50% - 13px);
    color: #27A95C;
}

.auth.register .steps .step .step-icon-bg {
    position: absolute;
    font-size: 1.4em;
    line-height: 14px;
    top: -6px;
    left: calc(50% - 8px);
    color: #f2f2f2;
    z-index: 2;

    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -ms-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
    transition:all 0.6s ease 0s;    
}
.auth.register .steps .step.current .step-icon-bg {
    font-size: 1.8em;
    left: calc(50% - 12px);
}


.auth.register .steps .step .step-title {
    color: #27A95C;
    -ms-opacity: 0.4;
    opacity: 0.4;
    font-size: 16px;
    margin: 30px auto 0;
    display: block;
    width: 80px;
}

.auth.register .steps .step.visited .step-title {
    color: #27A95C;
    -ms-opacity: 1;
    opacity: 1;
}

.auth.register .steps .step.current .step-title {
    color: #27A95C;
    font-weight: bold;
    font-size: 16px;
    -ms-opacity: 1;
    opacity: 1;
}

.auth #phonePrefix button {
    /*background: url('../../../Content/Images/select_arrow_down.png') no-repeat right;*/
    background-color: #ffffff;
    cursor: pointer;
}
.auth #phonePrefix i {
    position: absolute;
    right: 10px;
    top: 0;
    color: #27A95C;
    font-weight: bold;
    line-height: 48px;
}
.auth #phonePrefix button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.auth #phonePrefix button.empty {
    background-color: #eaf6ef;
}
.auth #phonePrefix ul.dropdown-menu > li > a {
    color: #000;
    text-decoration: none;
}
.auth #phonePrefix ul.dropdown-menu > li.active > a {
    background-color: #27A95C;
    background-image: none;
    color: #fff;
}
.auth #phonePrefix.open > ul.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.auth.register a.terms {
    font-weight: bold;
    text-decoration: underline;
}

.auth.register button.next { width: 140px; }



.auth .payment-methods .payment-method .payment-method-icon {
    display: inline-block;
    margin: 20px 15px;
    cursor: pointer;
}
.auth .payment-methods .payment-method:nth-of-type(even) {
    text-align: left;
}
.auth .payment-methods .payment-method:nth-of-type(odd) {
    text-align: right;
}
.auth .payment-methods .payment-method img {
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.auth .payment-methods .payment-method img:hover {
    -webkit-box-shadow: 0 0 8px #fff;
    -ms-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
}
/*.auth.register.register-payment-methods .payment-method .payment-method-icon {
    display: inline-block;
    margin: 20px 15px;
    cursor: pointer;
}
.auth.register.register-payment-methods .payment-method:nth-of-type(even) {
    text-align: left;
}
.auth.register.register-payment-methods .payment-method:nth-of-type(odd) {
    text-align: right;
}
.auth.register.register-payment-methods .payment-method img {
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.auth.register.register-payment-methods .payment-method img:hover {
    -webkit-box-shadow: 0 0 8px #fff;
    -ms-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
}*/

/*
.auth.register.register-payment-methods .payment-method .tooltip.payment-method-tooltip {
    margin-left: 0;
}
.auth.register.register-payment-methods .payment-method .tooltip.payment-method-tooltip .tooltip-inner {
    color: #27A95C;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 6px 12px rgba(39,169,93,.2);
    -ms-box-shadow: 0 6px 12px rgba(39,169,93,.2);
    box-shadow: 0 6px 12px rgba(39,169,93,.2);
}

.auth.register.register-payment-methods .payment-method .tooltip.payment-method-tooltip .tooltip-arrow {
    border-top-color: #f2f2f2;
}
.auth.register.register-payment-methods .payment-method:nth-of-type(even) .tooltip.payment-method-tooltip .tooltip-arrow {
    border-right-color: #f2f2f2;
}
.auth.register.register-payment-methods .payment-method:nth-of-type(odd) .tooltip.payment-method-tooltip .tooltip-arrow {
    border-left-color: #f2f2f2;
}*/

.auth .payment-method {
    text-align: center;
}
.auth .payment-method .method-icon {
    display: block;
}
.auth .payment-method .method-icon img {
    /*height: 26px;*/
    height: 54px;
    margin-bottom: 10px;
}
.auth .payment-method .method-name {
    /*margin-left: 10px;
    font-size: 18px;*/
    font-size: 24px;
    display: block;
}
.auth .payment-method .method-info {
    margin-left: 10px;
    font-size: 16px;
}


.auth .payment-method .tooltip.payment-method-tooltip {
    margin-left: 0;
}
.auth .payment-method .tooltip.payment-method-tooltip .tooltip-inner {
    color: #27A95C;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 6px 12px rgba(39,169,93,.2);
    -ms-box-shadow: 0 6px 12px rgba(39,169,93,.2);
    box-shadow: 0 6px 12px rgba(39,169,93,.2);
}

.auth .payment-method .tooltip.payment-method-tooltip .tooltip-arrow {
    border-top-color: #f2f2f2;
}




.auth.register.register-account {
}
.auth.register.register-details {
}
.auth.register.register-payment-methods .initializing-spinner {
    margin-top: 30px;
    height: 30px;    
}


.auth.register.register-deposit button.deposit { width: 170px; }
/* #endregion */

/* #region Login */
.auth.login button.login,
.auth.investment-access-error button.login { width: 147px; }
/* #endregion */

/* #region Forgot Password */
.auth.forgot-password button.send { width: 280px; }
/* #endregion */

/* #region Reset Password */
.auth.reset-password button.submit { width: 160px; }
/* #endregion */

/* #region Change Password */
/*.auth.change-password button.submit { width: 160px; }*/
/* #endregion */


/* #region Investment Access Error */
.auth.investment-access-error .alert.alert-danger {
    padding-right: 20px;
    margin: 0;
}
.auth.investment-access-error .alert.alert-danger a {
    opacity: .5;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}
.auth.investment-access-error .alert.alert-danger a:hover {
    opacity: .8;
}
/* #endregion */

.pac-container {
    z-index: 99999999;
}


.auth .cardNumberWrapper,
.auth .cardSecurityNumberWrapper {
    width: 100%;
    height: 48px;
}

.auth #cardNumberContainer,
.auth #cardSecurityNumberContainer {
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*.auth #cardNumberContainer.danger,
.auth #cardSecurityNumberContainer.danger {
    border-color: #dc272d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
}*/

.auth #cardNumberContainer.focused,
.auth #cardSecurityNumberContainer.focused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.auth #cardNumberContainer.danger,
.auth #cardSecurityNumberContainer.danger {
    border: 1px solid #dc272d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 39, 45, .6);
}

.auth #cardNumberContainer iframe,
.auth #cardSecurityNumberContainer iframe {
    overflow: hidden;
    width: 100%;
    height: 32px;
    margin-bottom: -5px;
}

.auth .max-number-of-cards {
    font-size: 10px;
}
.auth .max-number-of-cards a {
    color: #fff;
    text-decoration: underline;
}

.auth .payment-methods .payment-method.col-xs-6.single,
.auth .payment-methods .payment-method.col-xs-6.single {
    text-align: center;
    width: 100%;
}

.auth .bonus-accordion .applicable-bonus {
    padding: 5px;
    border: 1px solid transparent;
}
.auth .bonus-accordion .applicable-bonus:hover {
    cursor: pointer;
    border-color: #fff;
}
.auth .bonus-accordion .applicable-bonus.selected {
    cursor: pointer;
    background-color: red;
}
.auth .bonus-accordion .panel-group .panel {
    background-color: #27A95C;
    border-radius: 0;
    font-size: 12px;
}
.auth .bonus-accordion .panel-group .panel .panel-title {
    font-size: 12px;
}
.auth .bonus-accordion .panel-group .panel .panel-heading {
    border-radius: 0;
    background: none;
    background-color: #eaf6ef;
}
.auth .bonus-accordion .panel-group .panel.panel-open .panel-heading {
    background-color: #fff;
}


.auth.gdpr .form-group { margin: 10px 0; }
.auth.gdpr .radios { float: left; }
.auth.gdpr .radios label { margin-right: 5px; cursor: pointer; }
.auth.gdpr .radio-text { line-height: 28px; }
.auth.gdpr .emphatic {
    background-color: #07893C;
    margin: 5px 0;    
}
.auth.gdpr a.external {
    font-weight: bold;
    text-decoration: underline;
}
.auth.gdpr button.continue, .auth.gdpr button.logout {
    vertical-align: bottom;
    height: 36px;
}
.auth.gdpr button.logout {
    width: 100px;
}
.auth.gdpr button.continue {
    width: 180px;
}

.auth.gdpr .heading {
    margin: 10px auto;
}
.auth.gdpr .content {
    padding-bottom: 0;
}
.auth.gdpr .content .logo-icon {
    margin-bottom: 0;
}

.auth.gdpr .content .form-group {
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
}



